html,
body{
  height: 100%;
}
body{
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}
.container__max{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
a{
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
}
.title{
  text-align: center;
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  margin-bottom: 30px;
}
.products-tabs,
.design-tabs{
  text-align: center;
  margin-bottom: 75px;
  &__btn{
    background-color: transparent;
    padding: 0;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    margin-left: 14px;
    margin-right: 14px;
  }
  .mixitup-control-active{
    color: $title;
  }
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: #888c91;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}
.star{
  padding: 0;
  &__filter{
    padding: 0;
    margin: 10px 0;
  }
}
.pagination{
  padding-top: 105px;
  &__list{
    display: flex;
    justify-content: center;
  }
  &__list--two{
    justify-content: start;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__link{
    display: inline-block;
    font-size: 16px;
    color: $accent-dark;
    padding: 16px 20px;
    border: 1px solid $accent;
  }
  &__link--active{
    background-color: $accent;
    color: #fff;
  }
}

