@media (max-width: 1600px){
  .benefits{
    &__item{
      &:nth-child(2),
      &:nth-child(3){
        &::after{
          display: none;
        }
      }
    }
  }
  .products-box{
    &__item{
      padding: 80px 0 80px 35px;
    }
  }
}

@media (max-width: 1200px){
  .top-slider{
    padding-top: 150px;
    &__img{
      width: 55%;
      object-fit: contain;
    }
    .slick-dots{
      margin-top: -80px;
    }
  }
  .footer-top{
    flex-wrap: wrap;
  }
  .products{
    &__items{
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }
  .products-tabs,
  .design-tabs{
    margin-bottom: 50px;
  }
  .products-box{
    padding-top: 0;
    &__item{
      padding: 50px 15px;
    }
    &__img{
      display: none;
    }
  }
  .video-popup{
    padding: 115px 0;
  }
  .blog{
    &__items{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__item-img{
      margin-bottom: -25px;
    }
    &__item-box{
      padding: 20px 15px;
    }
  }
  .blog-page{
    .filter-category,
    .filter-posts{
      display: none;
    }
    &__inner{
      flex-direction: column;
    }
    &__content{
      width: 100%;
      margin-right: 0;
    }
    &__aside{
      width: 100%;
      order: -1;
    }
    &__img{
      max-width: 100%;
      width: 100%;
    }
  }
  .filter-search{
    &__input{
      width: 100%;
    }
  }
  .contact{
    &__list{
      justify-content: space-evenly;
    }
    &__item{
      width: 320px;
      padding: 50px 0;
    }
    &__inner{
      display: block;
      padding-top: 55px;
    }
    &__form{
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__form-box{
      display: block;
      input{
        width: 100%;
        margin-bottom: 15px;
      }
    }
    iframe{
      width: 100%;
    }
  }
  .product-list{
    &__inner{
      display: block;
    }
    &__filters{
      width: 100%;
      padding: 10px;
      margin-right: 0;
      display: none;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 100;
      background-color: #fff;
    }
    &__filter-btn{
      display: block;
      padding: 0;
      border: none;
      background-color: $accent;
      width: 60px;
      height: 60px;
      position: fixed;
      right: 0;
      z-index: 101;
      bottom: 50px;
      cursor: pointer;
    }
  }
  .list-content{
    width: 100%;
  }
}

@media (max-width: 1120px){
  .about{
    &__inner{
      display: block;
    }
    &__images{
      display: none;
    }
  }
  .about-content{
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    &__num{
      justify-content: space-around;
    }
  }
}

@media (max-width: 1070px){
  .menu{
    order: 1;
    margin-left: 20px;
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 120px;
      width: 100%;
      left: 0;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all .3s;
      }
    }
    &__list-item + .menu__list-item{
      padding-left: 15px;
    }
    &__list-item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
    &__list-link{
      display: block;
      padding: 12px 0;
    }
    &__btn{
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span{
        width: 100%;
        height: 3px;
        background-color: $accent-dark;
      }
      &::after,
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $accent-dark;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
  }
  .user-nav{
    margin-left: auto;
  }
  .top-slider{
    padding-top: 120px;
    &__title{
      font-size: 60px;
      line-height: 66px;
      margin-bottom: 25px;
    }
    .slick-dots{
      margin-top: -120px;
    }
  }
  .benefits{
    padding: 40px 15px;
    &__item{
      padding: 0 10px;
    }
    &__item + .benefits__item{
      margin-top: 30px;
    }
  }
  .design{
    padding: 50px 0;
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
  .design-item{
    max-width: 100%;
    &__img{
      width: 100%;
      max-height: 250px;
    }
  }
  .blog{
    &__inner{
      padding-top: 70px;
    }
    &__items{
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
    }
    &__item{
      max-width: 100%;
    }
    &__item-img{
      width: 100%;
    }
  }
  .partners{
    &__inner{
      padding-top: 0;
    }
  }
  .blog-page{
    &__img{
      height: 420px;
    }
  }
  .contact{
    padding: 80px 0;
    &__title{
      margin-bottom: 45px;
    }
    &__list{
      display: block;
    }
    &__item{
      width: 100%;
      margin-bottom: 20px;
      padding: 30px 0;
    }
    &__item-title{
      margin: 20px 0;
    }
  }
  .list-content{
    &__item{
      margin-bottom: 30px;
    }
    &__img{
      height: 415px;
    }
    &__box{
      padding-top: 50px;
      margin-left: 25px;
    }
    &__title{
      font-size: 32px;
    }
  }
  .product-slide{
    &__thumb{
      display: none;
    }
  }
  .product-detalis{
    &__slide{
      width: auto;
    }
  }
  .about{
    padding-bottom: 80px;
  }
  .team{
    padding: 80px 0;
    &__inner{
      display: block;
    }
    &__info{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .team-content{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    &__box{
      width: 100%;
      padding: 15px;
    }
  }
}

@media (max-width: 925px){
  .footer-top{
    &__title{
      margin-bottom: 15px;
    }
  }
  .top-slider{
    padding-top: 90px;
    &__item{
      .top-slider__img{
        display: none;
      }
    }
    .slick-dots{
      margin-top: -110px;
    }
  }
  .products{
    &__items{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .title{
    margin-bottom: 20px;
  }
  .products-tabs,
  .design-tabs{
    margin-bottom: 25px;
  }
  .products-item{
    padding: 15px 10px;
    &__img-box{
      margin-bottom: 20px;
    }
  }
  .products-box{
    &__inner{
      display: block;
    }
    &__item{
      padding: 30px 15px;
      margin-bottom: 20px;
    }
    &__content{
      margin-left: 0;
    }
  }
  .design-item{
    &__info{
      top: 20px;
      left: 20px;
    }
  }
  .partners{
    padding: 50px 0;
    &__list{
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
    }
    &__item{
      margin: 10px 20px;
    }
  }
  .product-list{
    &__content-inner{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
  }
  .product-detalis{
    padding: 80px 0;
    &__slide{
      margin-right: 0;
    }
    &__inner{
      display: block;
    }
    &__content{
      width: 100%;
    }
  }
  .product-slide{
    &__big{
      width: 100%;
      img{
        width: auto;
        margin: 0 auto;
      }
    }
  }
  .product-tabs{
    padding-top: 35px;
    &__top-item + .product-tabs__top-item{
      margin-top: 10px;
    }
  }
  .related{
    padding-bottom: 75px;
    &__title{
      margin-bottom: 70px;
    }
  }
  .statistic{
    padding: 50px 0;
    &__inner{
      flex-wrap: wrap;
    }
    &__item{
      padding: 10px 0;
    }
  }
  .team-content{
    grid-template-columns: repeat(2, 1fr);
    &__img{
     width: 100%;
    }
  }
}

@media (max-width: 740px){
  .footer-top{
    &__nav{
      width: 175px;
      margin-right: 50px;
    }
    &__contact{
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
    &__item-form{
      max-width: 100%;
    }
  }
  .title{
    font-size: 32px;
    line-height: 36px;
  }
  .benefits{
    display: block;
  }
  .video-popup{
    padding: 65px 0;
  }
  .blog{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 25px;
    }
    &__link{
      top: 8px;
    }
  }
  .terms-conditions{
    padding: 60px 0 35px;
    &__title{
      line-height: 28px;
    }
    &__item{
      margin-bottom: 25px;
    }
    &__list-item + .terms-conditions__list-item{
      margin-top: 15px;
    }
  }
  .blog-page{
    padding: 60px 0;
    &__inner{
      padding-bottom: 0;
    }
    &__item{
      margin-bottom: 30px;
    }
    &__item-box{
      padding-top: 25px;
    }
    &__item-title{
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 32px;
    }
    &__item-text{
      margin-bottom: 20px;
    }
    &__info{
      padding: 10px 15px;
    }
    &__img{
      height: 285px;
    }
    &__item-btn{
      padding: 15px 80px 15px 16px;
      &::before{
        top: 23px;
      }
    }
  }
  .filter{
    &__item{
      margin-bottom: 25px;
    }
  }
  .blog-one{
    &__text{
      padding: 20px 0;
      h4{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
      }
      h6{
        padding-top: 0;
        margin-bottom: 15px;
      }
      p{
        margin: 15px 0;
      }
      blockquote{
        padding: 20px;
        margin: 20px 0;
      }
    }
    &__box{
      flex-wrap: wrap;
    }
    &__author{
      padding-right: 15px;
    }
  }
  .comments{
    padding: 25px 0;
    &__item{
      &:nth-child(odd){
        margin-left: 0;
      }
    }
    &__title{
      margin-bottom: 15px;
    }
    &__img{
      margin-right: 15px;
    }
  }
  .comments-form{
    &__input{
      display: block;
      margin-bottom: 0;
    }
    &__input-text{
      width: 100%;
      margin-bottom: 20px;
    }
    &__textarea{
      margin-bottom: 25px;
    }
  }
  .list-content{
    &__img{
      height: 320px;
    }
    &__box{
      padding-top: 0;
    }
    &__price{
      padding: 20px 0;
    }
    &__text{
      margin-bottom: 15px;
    }
  }
  .product-info{
    margin-top: 25px;
  }
  .product-detalis{
    &__price{
      margin: 20px 0;
    }
  }
  .about-content{
    &__num{
      flex-wrap: wrap;
    }
    &__item{
      padding: 10px 5px;
    }
  }
}

@media (max-width: 625px){
  .menu{
    order: 0;
    &__list{
      top: 170px;
    }
  }
  .user-nav{
    width: 100%;
    margin-top: 20px;
    justify-content: flex-end;
  }
  .footer-top{
    padding: 55px 0;
  }
  .footer-bottom{
    justify-content: center;
    &__copy{
      width: 100%;
      text-align: center;
    }
  }
  .top-slider{
    &__title{
      font-size: 44px;
      line-height: 48px;
    }
  }
  .title{
    font-size: 28px;
    line-height: 30px;
  }
  .products{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  .design{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  .blog{
    &__title{
      text-align: left;
      margin-bottom: 10px;
    }
    &__top{
      display: block;
    }
    &__item-box{
      padding: 20px 0;
      padding-bottom: 0;
    }
  }
  .modal{
    padding-top: 70px;
    margin-bottom: 70px;
  }
  .blog-one{
    &__box{
      padding: 15px 0;
    }
    &__author-img{
      display: none;
    }
    &__author-info{
      margin-left: 0;
    }
  }
  .product-list{
    padding: 70px 0;
    &__content-inner{
      padding-bottom: 60px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .products-item{
    &__img-box{
      margin-bottom: 5px;
    }
  }
  .list-content{
    padding-bottom: 40px;
    &__item{
      display: block;
    }
    &__img{
      width: 100%;
      object-fit: contain;
      margin-bottom: 15px;
    }
    &__box{
      margin-left: 0;
    }
  }
  .product-detalis{
    padding-bottom: 65px;
    &__title{
      font-size: 34px;
    }
  }
  .related{
    padding-bottom: 55px;
  }
  .about{
    padding-bottom: 60px;
  }
  .team{
    padding: 60px 0;
  }
  .team-content{
    grid-template-columns: repeat(1, 1fr);
    &__box{
      padding: 15px 10px;
    }
  }
}

@media (max-width: 460px){
  .blog-page{
    &__img{
      height: 200px;
    }
    &__info{
      display: none;
    }
  }
  .comments{
    &__img{
      display: none;
    }
  }
  .blog-one{
    &__box{
      display: block;
    }
    &__author-info{
      margin-bottom: 15px;
    }
  }
  .contact{
    &__item{
      padding: 15px 0;
    }
    iframe{
      height: 250px;
    }
  }
  .product-slide{
    &__big img{
      height: 380px;
    }
  }
  .product-detalis{
    padding-bottom: 50px;
    &__btn{
      display: block;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .product-tabs{
    &__top-item + .product-tabs__top-item{
      margin-left: 0;
    }
  }
  .related{
    &__title{
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 360px){
  .user-nav{
    &__box-link{
      margin: 0 18px;
    }
  }
  .blog{
    &__item-img{
      height: 200px;
    }
  }
}