@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    color: $accent;
  }
}
.user-nav{
  display: flex;
  align-items: center;
  &__search{
    padding: 18px;
    border-radius: 50%;
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__btn{
    padding: 15px;
    border-radius: 50%;
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__box{
    display: flex;
    padding: 17px 10px;
    background-color: #fcd7b6;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  &__box-link{
    margin: 0 30px;
    position: relative;
  }
  &__box-num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -7px;
    right: -9px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    color: $accent-dark;
    text-align: center;
  }
}



@import 'media';